<div class="row">
  <div class="col-md-8"><%= render partial: 'standard_type_details', locals: { standard_type: @standard_type } %></div>
  <div class="col-md-4"><%= link_to t('.edit'), edit_standard_type_path(@standard_type), class:"btn btn-primary btn-lg" %></div>
</div>
<%= render partial: 'unpaged_list', locals: { model_name: QuantType.model_name, items: @quant_types,  creation_link: new_quant_type_path(standard_type_id:@standard_type) } %>
<%= render partial: 'list', locals: { model_name: Standard.model_name, items: @standards,  creation_link: new_standard_set_path(standard_type_id:@standard_type)  } %>

