<li class='list-group-item standard-set'>
  <h4 class="list-group-item-heading"><%= link_to l(standard_set.created_at,format: :long), standard_set_path(standard_set.friendly_uuid) %></h4>
  <p><%= link_to  standard_set.standard_type.name, standard_type_path(standard_set.standard_type) %></p>
</li>
