<div class="jumbotron">
  <h1><%= t('.title') %></h1>
  <p><%= t('.body') %></p>
  <p><a class="btn btn-primary btn-lg" href="<%= new_quant_type_path %>" role="button"><%= t('.creation_button') %></a></p>
</div>
