<li class='list-group-item quant-type'>
  <h4 class="list-group-item-heading"><%= link_to quant_type.name, quant_type_path(quant_type) %></h4>
  <p>Uses <%= link_to quant_type.standard_type.name, standard_type_path(quant_type.standard_type) %></p>
</li>
