<li class='list-group-item printer'>
  <h4 class="list-group-item-heading"><%= link_to printer.name, printer_path(printer.name) %> <small><%= printer.description %></small></h4>
  <p><%= printer.label_template.name %></p>
</li>
