<li class='list-group-item standard'>
  <h4 class="list-group-item-heading"><%= link_to standard.barcode, standard_path(standard) %>
  <small><%= link_to standard.standard_type.name, standard_type_path(standard.standard_type) %> - <% standard.lot_number %></small></h4>
  <% if standard.quant? %>
    <% standard.quants.each do |quant| %>
      <%= link_to content_tag(:span,quant.name,class:"label label-success"), quant_path(quant.assay_barcode) %>
    <% end %>
  <% else %>
    <span class="label label-default"><%= t('unused') %></span>
  <% end %>
</li>
