<%= form_for([target,PrintJob.new], html:{class:'form-horizontal'}) do |f| %>
  <div class="input-group">
    <%= f.select(:printer, available_printers, {prompt:t('.select_a_printer')},required: true, class:'form-control') %>
    <span class="input-group-btn">
      <%= f.submit class: 'btn btn-success' %>
    </span>
  </div>
<% end %>
