<li class='list-group-item assay'>
  <h4 class="list-group-item-heading"><%= link_to assay.barcode, assay_path(assay.barcode) %></h4>
  <% if assay.has_quant? %>
    <%= link_to content_tag(:span,assay.quant.name,class:"label label-success"), quant_path(assay.barcode) %></span>
  <% else %>
    <span class="label label-default"><%= t('unused') %></span>
  <% end %>
</li>
